################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LettersToSanta/.vs/LettersToSanta
/LettersToSanta/.vs/ProjectEvaluation
